@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* poetry, verse, songs */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
 	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}
/* end poetry, verse, songs */

/* figures */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figure.full-page{
	break-after: page;
	break-before: page;
}
/* end figures */
